.canvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mauve-2);
}

svg {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

#my-square {
  cursor: pointer;
}